/* @override http://localhost:8081/static/iphone.css */

div#map_canvas {
    height: 480px;
    width: 100%;
}

div#map_overlay {
	height: 480px;
	width: 100%;
	
	position: fixed;
	left: 0px;
	top: 0px;
}

div#dialog_box {
    width: 290px;
    height: 120px;
    
    margin-left: auto;
    margin-right: auto;
    
    position: absolute;
    left: 15px;
    top: 160px;
    
    background-color: white;
    
    z-index: 5000;
}