<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="user-scalable=no; initial-scale=1.0; maximum-scale=1.0; width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="/static/iphone.png" />
        
        <title>Kakapo</title>
        <link rel="stylesheet" type="text/css" 
              href="/static/reset.css" media="screen" />
              
        <link rel="stylesheet" type="text/css" 
              href="/static/iphone.css" media="only screen and (max-width: 480px)" />
        <link rel="stylesheet" type="text/css" 
              href="/static/iphone.css" media="screen and (min-width: 481px)" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/static/geo.js"></script>
        <script type="text/javascript">
           $(document).ready(function(){
                $("#buttoner").click(function() {
                    var venue_name = $('input[name=venue_type]').val();
                    var longitude = $('input[name=longitude]').val();
                    var latitude = $('input[name=latitude]').val();
                    
                    var dataString = 'venue='+ venue_name + '&longitude=' + longitude + '&latitude=' + latitude;
                    
                    $.ajax({  
                      type: "POST",  
                      url: "/venues",  
                      data: dataString,  
                      success: function() {  
                        alert("Yay, success!");
                      }  
                    });  
                    
                });
            });
        </script>
    </head>
    
    <body onload="initialize()">
        <div id="map_canvas"></div>
        <div id="map_overlay"></div>
        <div id="dialog_box">
            {% if current_user %}
            Where are you right now?
            <form action="/venues" method="post">
                <div><input type="text" name="venue_type" placeholder="Venue type" /></div>
                <div><input type="hidden" name="longitude" />
                    <input type="hidden" name="latitude" /></div>
                <!-- <div><input id="buttoner" type="submit" value="Search"></div> -->
            </form>
            <p id="buttoner">Find venues</p>
            
            {% endif %}
        </div>
        
        <!-- <div id="content">
        {% if current_user %}
            <p>Thank you for logging in, {{ current_user.name }}!</p>
            <div id="status" class="fail">
                <form action="/venues" method="post">
                    <div><input type="text" name="venue_type" placeholder="Venue type" /></div>
                    <div><input type="hidden" name="longitude" />
                        <input type="hidden" name="latitude" /></div>
                    <div><input type="submit" value="Search"></div>
                </form>
                <p><a href="venues">Find venues</a></p>
            </div>
        {% endif %} -->
        
        <fb:login-button autologoutlink="true" perms="publish_stream,offline_access,user_checkins,publish_checkins"></fb:login-button>
        
        <!-- the kosher facebook js sdk -->
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, display: "touch",
                     xfbml: true});
            FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
              window.location.reload();
            });
          };
          (function() {
            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
    </body>
</html>